In [4]:
import sys
from tensorflow import keras
import yaml
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from ensemble import Ensemble
import tensorflow.keras.backend as K

2022-02-06 20:44:01.884471: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-02-06 20:44:01.884498: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [16]:
with open("./settings/model/config.yaml", 'r') as stream:
        config =yaml.load(stream ,Loader=  yaml.FullLoader)

K.clear_session()
sigma_index_lst = [0,1]
epoch_num = 8
model = Ensemble(mode='test', model_kind='rnn_cnn', sigma_lst=sigma_index_lst,
                     default_n=20, epoch_num=epoch_num, epoch_min=100, epoch_step=50, **config)
model.train_model_outer()

train_in x:  (2850, 30, 2) y:  (2850, 2)
test_in x:  (1869, 30, 2) y:  (1869, 2)
test_out x:  (250, 30, 2) y:  (250, 2)
x_end (4969, 30, 2)
(1869, 1, 16)
Input shape: (1869, 1, 16)
Load weight from ./log/model/

In [41]:
dt = pd.read_csv('./data/test.csv')
print(dt.shape)

dr = pd.read_csv('./data/SonTay.csv')
print(dr.shape)

(1000, 6)
(5000, 6)

In [54]:
Q, H, Q_, H_ =[], [], [], []

for i in range(1000): 
    dr.iloc[-5000:].to_csv('./data/SonTay.csv', index = False)
    model.data = model.generate_data()
    q_pred, h_pred = model.prediction_vp()
    Q.append(dt.iloc[i]['Q'])
    H.append(dt.iloc[i]['H'])
    Q_.append(q_pred)
    H_.append(h_pred)
    dr = dr.append(dt.iloc[i], ignore_index = True)

In [55]:
dr.shape

(5003, 6)

In [56]:
dr

                     date      Open         Q         H     Close    Volume
0     2022-01-22 16:14:00  35294.40  35347.39  35235.06  35347.39  1.709522
1     2022-01-22 16:15:00  35346.79  35427.01  35261.50  35427.01  1.392205
2     2022-01-22 16:16:00  35427.01  35427.01  35320.89  35357.27  0.835867
3     2022-01-22 16:17:00  35336.53  35347.39  35241.51  35241.51  1.478683
4     2022-01-22 16:18:00  35242.08  35294.41  35241.51  35241.51  1.053969
...                   ...       ...       ...       ...       ...       ...
4998  2022-01-26 03:32:00  37219.64  37243.27  37213.90  37240.76  0.393984
4999  2022-01-26 03:33:00  37237.96  37245.00  37235.00  37245.00  0.572347
5000  2022-01-26 03:34:00  37245.44  37327.15  37245.44  37284.03  1.212468
5001  2022-01-26 03:35:00  37279.95  37327.15  37250.64  37251.16  0.541547
5002  2022-01-26 03:36:00  37251.18  37283.00  37251.18  37263.88  0.282434

[5003 rows x 6 columns]

In [60]:
dr.iloc[-5000:].to_csv('./data/SonTay2.csv', index = False)